:root {
  --basic-white: #FFFFFF;
  --basic-gray: #EEEEEE;
  --basic-light-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-extra-dark-blue: #5496BD;
  --basic-brown:#766357;
  --basic-brown-dark: #604E43;
  --basic-brown-extra-dark: #503E33;
  --basic-black: #000000;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --background-index-gray:#F2F2F2;
}



.page {
  height: 100%;
}

.page-header {

  outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px;
}
 /* Низ боди взял из демонстрации пока что не изучил гриды
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
 */
body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  background-color: var(--background-index-gray);
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  padding: 0;
  min-width: 1220px;
  line-height: 21px;
  font-weight: 400;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


/* User navigation */
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-color: var(--basic-white);
  outline: 5px solid rgba(89, 0, 255, 0.3);
  outline-offset: -5px;

}
.header-logo {
width: 138px;
outline: 5px solid rgba(255, 0, 0, 0.3);
outline-offset: -5px;
}

.container {
  background-color: var(--basic-white);
  width: 1200px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  width: 100%;
  padding: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.navigation a{
  color:var(--basic-black) ;}

  /*Навигация меню при совпадает по стилю(цвету принаведении) с сылками на отели.*/
.navigation a:hover,
.navigation a:focus,
.hotels-list-item h2:hover {
    color: var(--basic-light-blue);
  }

.navigation a:active,
.hotels-list-item h2:active {
    color: var(--basic-black);
    opacity: 0.3;
  }

.navigation a:not([href]) {
  color: var(--basic-brown);
}


/*features*/
.main-page {
  margin: 0;
}

.features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: var(--basic-white);
}

.features>p {
 margin: 0px;
}

.slogan p:first-child{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 16px;
  margin-top: 40px;
  font-style: normal;
}

.slogan p:last-child{
 margin-bottom: 50px;
 margin-top: 45px;
}
.features-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 14px;
  line-height: 21px;
}

.features-item {
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: center;
align-items: center;
}

.features-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
}

.features-list p {
  font-size: 14px;
  line-height: 21px;
}
.features-item:first-child,
.features-item:nth-child(n+3):nth-child(-n+5),
.features-item:nth-child(n+7) {
  flex-grow: 1;
}
.features-list .first,
.features-list .second {
  color: var(--basic-white);
  background-color: var(--basic-light-blue)
}

/*order*/
.form-order {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.form-order h2 {
  font-weight: bold;
  font-size: 30px;
}
.form-order>button{
  background-color: var(--basic-brown);
  color: var(--basic-white);
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  min-width: 568px;
  min-height: 86px;
  align-self: center;
}
.form-order>button:hover,
.form-order>button:focus {
  background-color: var(--basic-brown-dark);
}

.form-order>button:active {
  background-color: var(--basic-brown-extra-dark);
  color: var(--transparent-white)
}

.form-booking {
  display: none;
}
/*footer*/

.main-footer {
  background-color: var(--basic-white);
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:2px solid red;
  flex-direction:row;
}
.contacts {
  flex-grow: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  border:2px solid black;
}
.contacts a {
  color: var(--basic-black);
}

.socials {
  flex-grow: 1;
}
.socials ul{
  outline: 5px solid rgba(0, 255, 0, 0.3);
  padding: 0;
  display: flex;
  list-style: none;
  flex-basis: 150px;
  justify-content: center;
}



.social-items a{
  background-color: var(--basic-light-blue);

}

.social-items a:hover,
.social-items a:focus {
  background-color: var(--basic-dark-blue);
}

.social-items a:active {
  background-color: var(--basic-extra-dark-blue);
}
.social-items a:active img {
  opacity: 0.3;
}

.copyright {
  outline: 5px solid red;
  flex-grow: 1;
  font-size: 14px;
  line-height: 26px;
}

/*hotel*/
.filter {
  display: none;
}
.results {
  display: none;
}


.hotels-list {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-white);
  list-style: none;
  width: 1054px;
  margin: 0 auto;
  outline: 5px solid red;
  padding: 0px;
  justify-content: center;
  flex-direction: column;
}
.hotels-list li{
 display: flex;
 flex-wrap: wrap;
 outline: 3px solid green;
 min-height: 151px;
flex-direction: row;
 justify-content: center;
}
.more,
.booking,
.raiting{
 align-self: flex-end;
}
.hotels-list-item a:first-child{
  align-self: flex-start;

}

.hotels-list-item img{
  order: -1;
  align-self: center;
  justify-content: center;
}
.hotels-list-item h2{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.hotels-list

.more,
.booking {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  align-self: flex-end;
}

.hotel,
.price {
 align-self: center;
}

.more {
  background-color: var(--basic-light-blue);
}
.booking {
  background-color: var(--basic-brown);
}

.more:hover {
  background-color: var(--basic-dark-blue);
}
.more:active {
  background-color: var(--basic-extra-dark-blue);
  color: var(--transparent-white)
}

.booking:hover {
  background-color: var(--basic-brown-dark);
}
.booking:active {
  background-color: var(--basic-brown-extra-dark);
  color: var(--transparent-white)
}

.hotels-list-item a{
  color: var(--basic-white);
}
.raiting {
  background-color: var(--background-index-gray);
}

/*Скрытое */
.visually-hidden {
  display: none;
  margin: 0px;
  padding: 0px;
}
