:root {
  --basic-white: #ffffff;
  --basic-gray: #EEEEEE;
  --basic-light-blue: #81B3D2;
  --basic-dark-blue: #669EC0;
  --basic-extra-dark-blue: #5496BD;
  --basic-brown:#766357;
  --basic-brown-dark: #604E43;
  --basic-brown-extra-dark: #503E33;
  --special-index:#F2F2F2;
  --basic-black: #000000;
  --special-white: rgba(255, 255, 255, 0.3);
}

body {
  font-family: 'PT Sans', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  background-color: var(--special-index);
  color: var(--basic-black);
  text-align: center;
  margin: 0;
  padding: 0;
  min-width: 1220px;
  line-height: 21px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
.navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-color: var(--basic-white);
}
.nav-list {
  list-style: none;
}
/* User navigation */
.navigation a{
  color:var(--basic-black) ;}

.navigation a:hover,
.navigation a:focus {
    color: var(--basic-light-blue);
  }

.navigation a:active {
    color: var(--basic-black);
    opacity: 0.3;
  }

.navigation a:not([href]) {
  color: var(--basic-brown);
}
/*features*/
.features {
  background-color: var(--basic-white);
}
.features span{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.features-list,
.features-sublist {
  display: none;
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.features-list h3{
  font-size: 21px;
  font-weight: bold;
}

/*order*/
.form-order {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.form-order h2 {
  font-weight: bold;
  font-size: 30px;
}
.form-order>button{
  background-color: var(--basic-brown);
  color: var(--basic-white);
  width: 568px;
  height: 86px;
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
.form-order>button:hover,
.form-order>button:focus {
  background-color: var(--basic-brown-dark);
}

.form-order>button:active {
  background-color: var(--basic-brown-extra-dark);
}

.form-booking {
  display: none;
}
/*footer*/
.main-footer {
  background-color: var(--basic-white);
}
.contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}
.contacts a {
  color: var(--basic-black);
}
.socials-list{
  list-style: none;
}
.social-items {
  background-color: var(--basic-light-blue);
}

.social-items:hover,
.social-items:focus {
  background-color: var(--basic-dark-blue);
}

.social-items:active {
  background-color: var(--basic-extra-dark-blue);
}
.social-items:active img {
  opacity: 0.3;
}

.copyright {
  font-size: 14px;
  line-height: 26px;
}
/*hotel*/
.filter {
  display: none;
}
.results {
  display: none;
}
.hotels-list {
  background-color: var(--basic-white);
  list-style: none;
}
.hotels-list-item h2{
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black)
}

.more {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  background-color: var(--basic-light-blue);
  width: 110px;
  height: 27px;
}
.more:hover {
  background-color: var(--basic-dark-blue);
}
.more:active {
  background-color: var(--basic-extra-dark-blue);
  color: var(--special-white)
}
.booking {
font-weight: bold;
font-size: 14px;
line-height: 21px;
background-color: var(--basic-brown);
width: 142px;
height: 27px;
}

.booking:hover {
  background-color: var(--basic-brown-dark);
}
.booking:active {
  background-color: var(--basic-brown-extra-dark);
  color: var(--special-white)
}

.hotels-list-item a{
  color: var(--basic-white);
}
